.SQFormDialogStepper__actions {
  display: flex;
  justify-content: space-between;
  flex: 1 1 100%;
  padding: 1.3333rem 2rem;
}

.SQFormDialogStepper__stepContainer {
  text-align: center;
  padding-bottom: 1rem;
}

.SQFormDialogStepper__stepper {
  display: inline-block;
}

.SQFormDialogStepper__divider {
  margin-bottom: 2rem !important; /* material-ui override */
}
