.SQFormDialogStepper__actions {
  display: flex;
  justify-content: space-between;
  flex: 1 1 100%;
  padding: 1.3333rem 2rem;
}

.SQFormDialogStepper__stepContainer {
  text-align: center;
}

.SQFormDialogStepper__stepper {
  justify-content: center;
}
